.banner{
display: inline;
vertical-align:middle;
margin-left:500px;
}
.titre{
	font-size:30px;
    font-family: 'Kalam', cursive;
    font-style: bold;
	

}
.main{
	text-align: center;
	background-color:gray;	
}

.date{
	font-size: 12px;
	font-style: italic;
	color:red;
}
.foot{
	text-align:right;
	font-size:30px;
}